h1 {
    text-align: center;
    padding-top: 8%;
}

.border-radius {
    width: 10px;
    height: 10px;
    line-height: 50px;
    background-color: #ffdf00;
    border-radius: 100%;
    margin: auto;
  }

.shadow {
    position: absolute;
    bottom: 250px;
        background-color:#c0c0c0;
        width: 50px;
        height: 20px;
        border-radius: 50%;
        margin: 0 auto;
}

.light {
    position: fixed;
    bottom: 0;
    width: 600px;
    height: 300px;
    border-radius: 50% / 100% 100% 0 0;
    background:#ffdf00;
    margin: 0 auto;
}

body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #005192;
    color: #fff;
}