:root {
    --c-yellow: #ffdf00;
    --c-shadow: #c0c0c0;
    --c-blue: #005192;
    --c-orange: #ea5415;
}

body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--c-blue);
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 2.5%;
}

.border-radius {
    width: 10px;
    height: 10px;
    line-height: 50px;
    background-color: var(--c-yellow);
    border-radius: 100%;
    margin: auto;
}

.light {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 700px;
    height: 350px;
    border-radius: 50% / 100% 100% 0 0;
    background: var(--c-yellow);
    margin: 0 auto;
}

.shadow {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--c-shadow);
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

.timeMashine .light {
        background-color: var(--c-shadow);
    }
    .timeMashine .border-radius {
        background-color: var(--c-shadow);
    }
    .timeMashine .shadow {
        background-color: var(--c-orange);
    }

@media screen and (max-width: 480px) {

    /* 480px以下に適用されるCSS（スマホ用） */
    h1 {
        padding-top: 7.5%;
    }

    .shadow {
        bottom: 25px;
    }
}